# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Alexandre\Ecoles\Polytechnique_2020-2021\INF1007\L06_TP4-l06-13-master\L06_TP4-l06-13-master\c04-ch10-exercices-Auzrid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
